body{
    background-color: whitesmoke;
    font-family: 'Releway', sans-serif;
}

.header{
    background-image: url("../style/images/coffee-bgnd.jpeg");
    height: 600px;
    background-position: center;
    background-size: cover;
}

h1{
    font-size: 9vh;
    font-family: 'Covered By Your Grace', cursive;
    color:rgb(3, 150, 100);
}

.main li{
    border-bottom: 1px solid #e4bb97;
    max-width: 90vh;
    text-align: justify;
}

.main h2{
    background-color: #aa8eb5;
}

.main p{
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 15px;
    line-height: 1.5;
    text-align: justify;
    text-indent: 32px;
    color: #454;
}

a:link{
    color: #214e34;
    font-weight: 800;
    padding: 0 1vh;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}
a:visited{
    color: violet;
}
a:hover{
    color: red;
}
a:active{
    color: yellow;
}